@page
@model ERP.Pages.Inventario.Entrada.Entrada_listModel
@{
}

<!-- Interfaz gráfica html de la lista de Entradas de Artículos -->
<br />
<h2> Lista de Entradas </h2>
<a class="btn btn-primary btn-sm" href="/Inventario/Entrada/Entrada_form"> Nueva Entrada</a>
<table class="table">
    <thead>
        <tr>
            <th>Cedula</th>
            <th>Administrador</th>
            <th>Fecha</th>
            <th>Artículo</th>
            <th>Cantidad Ingresada</th>
            <th>Bodega</th>
        </tr>
    </thead>
    <tbody>
        <!-- Ciclo que extrae los datos de la tabla de Empleados para mostrar toda información registrada -->
        @foreach (var item in Model.listaEntradas)
        {
            <tr>
                <td>@item.cedula</td>
                <td>@item.administrador</td>
                <td>@item.fecha</td>
                <td>@item.articulo</td>
                <td>@item.cantidad</td>
                <td>@item.ubicacion</td>
            </tr>
        }
    </tbody>
</table>