@page
@model ERP.Pages.Empleado.Historico_Puesto.Historico_Puesto_formModel
@{
}

<!-- Interfaz gráfica html de formulario de Histórico de Puesto -->
<body>
    <section class="form-register">
        <h1>Historico de Puesto</h1>

        @if (Model.mensaje_exito.Length > 0)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@Model.mensaje_exito</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (Model.mensaje_error.Length > 0)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@Model.mensaje_error</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <form method="post" autocomplete="off">

            <input class="controls" type="number" name="id" id="id" placeholder="Ingrese el ID" required value="@Model.HistoricoPuesto.id">

            <input class="controls" type="date" name="fecha_inicio" id="fecha_inicio" required value="@Model.HistoricoPuesto.fecha_inicio">

            <input class="controls" type="date" name="fecha_final" id="fecha_final" required value="@Model.HistoricoPuesto.fecha_final">

            <!-- Agregar el combobox para seleccionar la cedula del empleado -->
            <select class="controls" name="cedula" id="cedula" required value="@Model.HistoricoPuesto.cedula">
                <option value="propietario">Seleccione la cédula del empleado </option>
                @foreach (var empleado in Model.listaEmpleados)
                {
                    <option value="@empleado">@empleado</option>
                }
            </select>

            <!-- Agregar el combobox para seleccionar el puesto -->
            <select class="controls" name="puesto" id="puesto" required value="@Model.HistoricoPuesto.puesto">
                <option value="propietario">Seleccione un puesto</option>
                @foreach (var puesto in Model.listaPuestos)
                {
                    <option value="@puesto">@puesto</option>
                }
            </select>

            <!-- Agregar el combobox para seleccionar el departamento -->
            <select class="controls" name="departamento" id="departamento" required value="@Model.HistoricoPuesto.departamento">
                <option value="propietario">Seleccione un departamento</option>
                @foreach (var departamento in Model.listaDepartamentos)
                {
                    <option value="@departamento">@departamento</option>
                }
            </select>

            <button type="submit" asp-page-handler="" class="buttoms">Registrar</button>

        </form>
    </section>
</body>

<!-- Estilos CSS para la página -->
<style>
    /* Resetea márgenes y rellenos, y aplica box-sizing border-box para todos los elementos */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Estilo para el fondo del cuerpo de la página */
    body {
        background: linear-gradient(130deg, blue, skyblue);
    }

    /* Estilo para la sección del formulario de registro */
    .form-register {
        width: 400px; /* Ancho del formulario */
        background: #24303c; /* Color de fondo del formulario */
        padding: 30px; /* Relleno interno del formulario */
        margin: auto; /* Centra el formulario horizontalmente */
        margin-top: 100px; /* Margen superior para separación de la parte superior de la página */
        border-radius: 4px; /* Bordes redondeados del formulario */
        font-family: Calibri; /* Fuente del texto en el formulario */
        color: white; /* Color del texto en el formulario */
        box-shadow: 7px 13px 37px #000; /* Sombra del formulario para un efecto elevado */
    }

    /* Estilo para los campos de entrada del formulario */
    .controls {
        width: 100%; /* Ancho completo del campo de entrada */
        background: #24303c; /* Color de fondo del campo de entrada */
        padding: 10px; /* Relleno interno del campo de entrada */
        border-radius: 4px; /* Bordes redondeados del campo de entrada */
        margin-bottom: 16px; /* Margen inferior entre los campos de entrada */
        border: 1px solid #1f53c5; /* Borde del campo de entrada */
        font-family: Calibri; /* Fuente del texto en el campo de entrada */
        font-size: 18px; /* Tamaño de la fuente en el campo de entrada */
        color: white; /* Color del texto en el campo de entrada */
    }

    /* Estilo para el botón de enviar del formulario */
    .buttoms {
        width: 100%; /* Ancho completo del botón */
        background: #1f53c5; /* Color de fondo del botón */
        border: none; /* Sin borde para el botón */
        padding: 12px; /* Relleno interno del botón */
        color: white; /* Color del texto en el botón */
        margin: 16px 0; /* Margen superior e inferior para el botón */
        font-size: 18px; /* Tamaño de la fuente en el botón */
    }
</style>