@page
@model ERP.Pages.Empleado.Empleado_view.Empleado_view_listModel
@{
}

<!-- Interfaz gráfica html de la lista de Empleados -->
<br />
<h2> Lista de Empleados </h2>
<a class="btn btn-primary btn-sm" href="/Empleado/Empleado_view/Empleado_view_form"> Nuevo Empleado</a>
<table class="table">
    <thead>
        <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Género</th>
            <th>Residencia</th>
            <th>Ingreso</th>
            <th>Puesto</th>
            <th>Departamento</th>
            <th>Vendedor</th>
            <th>Teléfono</th>
            <th>Salario</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        <!-- Ciclo que extrae los datos de la tabla de Empleados para mostrar toda información registrada -->
        @foreach (var item in Model.listaEmpleados)
        {
            <tr>
                <td>@item.cedula</td>
                <td>@item.nombre</td>
                <td>@item.apellido1</td>
                <td>@item.apellido2</td>
                <td>@item.edad</td>
                <td>@item.genero</td>
                <td>@item.residencia</td>
                <td>@item.fecha_ingreso</td>
                <td>@item.puesto</td>
                <td>@item.departamento</td>
                <td>@item.vendedor</td>
                <td>@item.telefono</td>
                <td>@item.salario</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Empleado/Empleado_view/Empleado_view_edit?cedula=@item.cedula">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>